.footer {

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 52px 26.4% 51px 25.86%;
        background-color: $footer-bg;
    }

    &__info {
        padding-bottom: 54px;

        &--image {
            height: 100%;
            width: 100%;
            max-width: 269px;
            margin-left: auto;
            margin-right: auto;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        &--contact {
            padding-top: 25px;
            padding-bottom: 28px;
            color: white;
            font-size: 12px;
            font-weight: bold;

            p {
                margin: 0;
            }
    
            p:nth-child(2) {
                padding-top: 12px;
                padding-bottom: 25px;
            } 
        }

        &--social  {

            a:not(:first-child) {
                padding-left: 9.33%;
            }
        }
    }

    &__links {
        
        &--content {
            padding-bottom: 50px;
            font-size: 12px;
            font-weight: bold;
            
            a {
                color: white;
                display: block;
            }

            a:not(:last-child) {
                padding-bottom: 15px;
            }
        }
    }

    &__nav {
        text-align: center;
        padding: 21px 30.13% 23px 22.66%;
        background-color: $copyright-bg;
        color: white;
    }

    &__copyright {  
        font-size: 10px;

        &--links {

            a {
                color: white;
            }

            a:not(:first-child) {
                padding-left: 6.66%;
            }
        }

        p {
            margin: 0;
            padding-top: 28px;
        }
    }
}

@media (min-width: 1024px) {
    .footer {

        &__section {
            flex-direction: row;
            text-align: left;
            justify-content: space-between;
            align-items: flex-start;
            padding: 153px 21.875% 157px 15.3125%;
        }

        &__info {
            padding: 0;

            &--image {
                margin: 0;
            }

            &--contact {
                padding-top: 60px;
                padding-bottom: 46px;
                font-size: 14px;

                p:nth-child(2) {
                    padding-top: 18px;
                    padding-bottom: 49px;
                }
            }

            &--social  {

                a:not(:first-child) {
                    padding-left: 1.875%;
                }
            }
        }

        &__links {
            display: flex;
            justify-content: flex-end;

            &--content {
                padding: 0;
                font-size: 14px;

                &:not(:first-child) {
                    //padding-left: 7.1875%;
                    padding-left: 19.86%;
                    //padding-left: 11.44%;
                }

                a:not(:last-child) {
                    padding-bottom: 15px;
                }
            }
        }

        &__nav {
            padding: 39px 15.3125% 35px;
        }

        &__copyright {
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            
            &--links {
                order: 2;
                
                a:not(:first-child) {
                    padding-left: 35px;
                }
            }

            p {
                padding-top: 0;
            }
        }
    }
}

@media (min-width: 1400px) {
    .footer__links--content {

        &:not(:first-child) {
            padding-left: 115px;
        }

        a:not(:last-child) {
            padding-bottom: 37px;
        }
    }
}