.hero {
    background-color: $slider-bg;
    text-align: center;

    &__text {

        padding: 1rem 3.875rem 3.5625rem;

        h1 {
            font-size: 1.875rem;
            font-weight: bold;
            color: $slider-heading;
            margin: 0;
            line-height: 1;
        }

        &--p {
            font-size: 1rem;
            color: black;
            height: 45px;
            overflow: hidden;
            margin: 25px 0 29px;

            p {
                margin: 0;
            }
        }
    }
}

.slider {
    position: relative;
    width: 100%;

    &__container {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        height: 12.0625rem;
        width: 56.8%;
        height: 193px;

        .current-slide {
            clip-path: circle(150% at 0 50%);
            transition: 1s;
        }
    }

    &__image {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $slider-bg;
        clip-path: circle(0% at 0 50%);

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            object-fit: contain;
        }
    }

    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
        img {
            width: 1.0625rem;
        }

        &--left {
            left: 20px;
        }

        &--right {
            right: 20px;
        }
    }

    &__nav {

        &--indicator {
            border: 0;
            background: $slider-dot;
            border-radius: 50%;
            height: 4.4px;
            width: 4.4px;
            margin: 0;
            padding: 0;
        }

        .current-slide {
            background: $menu-btn;
        }
    }
}

@media (min-width: 640px) {
    .slider__container{
        height: 363px;
    }

    .slider__arrow img {
        height: 25px;
        width: 41px;
    }

    .slider__nav--indicator {
        height: 10px;
        width: 10px;
    }
}

@media (min-width: 1024px) {

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6.1875rem 15.3125% 11.5rem;

        .slider {
            flex: 50%;
            order: 2;
            margin-left: 63px;

            &__container {
                width: 80%;
                height: 437px;
            }

            &__arrow--right {
                right: 0;
            }

            &__arrow--left {
                left: 0;
            }
        }

        &__text {
            flex: 50%;
            padding: 0;
            text-align: left;
            order: 1;
            //margin-right: 29px;
        }

        .btn-secondary {
            font-size: 21.33px;
        }
    }

    .hero__text--p {
        height: 110px;
        font-size: 20px;
    }
}

@media (min-width: 1400px) {
    .hero__text {
        h1 {
            font-size: 66.66px;
        }
    }
}