/*bg color*/
$main-bg: #fafcff;
$slider-bg: #f6d3c3;
$slider-btn: #779bc8;
$menu-btn: #f26522;
$corners-bg: #7799bb;
$numbers-bg: #e8c7a6;
$cta-bg: #f5b490;
$request-heading: #212240;
$email-main: #8081ab;
$email-secondary: #5b5975;
$footer-bg: #7598bb;
$copyright-bg: #acacac;

/*font color*/
$menu-links: #24242b;
$slider-heading: #262d40;
$slider-text: #000000;
$slider-btn-text: #ffffff;
$slider-dot: #eda786;
$company-main: #414042;
$work-heading: #32325d;
$work-span: #8a5b9d;
$work-p: #525f7f;
$portion-heading: #242f51;
$portion-p: #616368;
$history-p: #0d111b;
$computer-secondary: #452a31;
$computer-main: #006699;
$cta-btn: #36a2f4;
